<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />

    <title>John R. Emmons</title>

    <link href="static/imgs/favicon.ico" rel="Shortcut Icon" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="static/css/custom_v2_0.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="icon" href="static/imgs/favicon.ico">
  </head>
  <body>

