{{ partial "header.html" . }}
<body>

  <div class="container">
    <div style="margin:5px;padding:0px 15px 0px 15px;">

      <h2 class="title" style="text-align: center">John R. Emmons</h2>

      <p style="text-align: center">Sr. Staff Machine Learning Scientist at Tesla Autopilot</p>

      <p style="text-align:center;width:100%;">
        <a href="images/john_emmons_headshot.jpg">
          <img src ="images/john_emmons_headshot.jpg" style="max-width:300px;width:100%;border-radius:10px;" alt="john emmons headshot"/>
        </a>
      </p>

      <p>
        <div class="">
          <span class="vitals">Email:</span> <a href="mailto:mail@johnemmons.com">mail@johnemmons.com</a>
        </div>

        <div class="">
          <span class="vitals">Links:</span>
          <a href="https://github.com/jremmons">Github</a>,
          <a href="https://www.linkedin.com/in/john-emmons-71959044">Linkedin</a>
        </div>

      </p>
    </div>


    <div style="margin-top:10px;margin-bottom:10px;;padding-left:15px;padding-right:15px;">

      <hr style="border-top:5px solid rgb(0,0,0)" \>

      <div class="news">Recent news (June 1st, 2021):</div>
      <p>
        I dropped out of my PhD! I currently lead a team of talented
        scientists and engineers at
        <a href="https://www.tesla.com">Tesla</a> Autopilot AI. We are
        the brains behind Autopilot's camera only 3D perception system
        in urban environments.
      </p>

      <hr style="border-top:5px solid rgb(0,0,0)" \>

      <div class="header">Research interests:</div>
      <p>
        My research interests are broadly at the intersection of
        computer systems and computer vision. My current work focuses
        on building low-latency systems for 3D object detection.
      </p>

      <div class="header">Biographical sketch:</div>
      <p>
        Until recently, I was a PhD student at Stanford University
        studying computer science (co-advised
        by <a href="https://cs.stanford.edu/~keithw/">Keith
        Winstein</a>
        and <a href="http://cvgl.stanford.edu/silvio/">Silvio
        Savarese</a>). During my undergrad, I participated in
        the <a href="https://engineering.wustl.edu/prospective-students/dual-degree/Pages/default.aspx">engineering
        dual degree program</a> between Washington University in
        St. Louis and Drake University. I have an MS degree in
        computer science and three BS degrees in (1) computer
        engineering, (2) electrical engineering, and (3) computer
        science, mathematics, and physics (triple major).
      </p>

      <p>
        In my spare time, I run long-distance road races, competing
        mostly in marathons and half marathons.
      </p>

  </div>
  {{ partial "footer.html" . }}
